.pagination {
  position: relative;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
}

.pagination__list {
  display: flex;
  gap: 5px;
}
.pagination__item {
  width: 40px;
  height: 40px;
  font-size: 16px;
  padding: 10px;
  list-style-type: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  &:hover,
  &.active {
    background-color: rgb(141, 113, 141);
  }
}
