html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: -webkit-linear-gradient(90deg, #ffffa2, #c2b2d6, #9dd79d);
  background: linear-gradient(90deg, #ffffa2, #c2b2d6, #9dd79d);
}
.main {
  position: relative;
  transition: all 1s;
  font-size: 12px;
}

.block-components {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 80vh;
  padding-bottom: 20px;
}

button {
  border: none;
  background-color: $btn-color;
  transition: all 0.3s ease-out;
  &:hover {
    background-color: rgb(141, 113, 141);
    color: white;
  }
}
/*Так значительно проще изменять box-sizing в 
  плагинах или других компонентах, которые задают иное поведение.*/
