.search {
  display: flex;
  justify-content: center;
  align-self: center;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 10px;
}

.search__button {
  outline: none;
  background-color: $btn-color;
  cursor: pointer;
  border: none;
  height: 35px;
  width: 35px;
  border-radius: 5px;

  &:hover {
    background-color: rgb(141, 113, 141);
    color: white;
  }

  img {
    width: 100%;
  }
}

.search__label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search__input {
  width: 300px;
  font-size: 2em;
  font-weight: bold;
  outline: transparent;
  appearance: none;
  border: 1px solid rgb(214, 200, 214);

  &::placeholder {
    color: rgb(0, 0, 0, 0.3);
  }
  &:focus {
    border-color: rgb(126, 64, 126);
  }

  &:hover {
    border-color: rgb(126, 64, 126);
  }
  &:active {
    border-color: rgb(126, 64, 126);
  }
}

@media (max-width: 690px) {
  .search__input {
    width: 200px;
  }
}
